$purple: #4758fc;
$blue: #18ffff;
$fuschia: #e040fb;
$red: #f50057;
$black: #252525;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  background: #121214;
  border: 0;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
